* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

#root {
  background-color: #e8fcf9;
}
.picture-container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#puzzle { 
  height: 900px;
  width: 1600px;
}
