* {
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100%;
}

#root {
  background-color: #e8fcf9;
}
.picture-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#puzzle { 
  height: 900px;
  width: 1600px;
}

.character-select-window {
  border: 1px solid;
  background-color: #ffffff;
}

  .character-selection {
    display: flex;
    align-items: center;
    gap: 25px;
    text-align: center;
    width: 200px;
    cursor: pointer;
  }

  .character-selection:hover { 
    background-color: #f3f3f3;
  }

    #character-selection-img {
      height: 35px;
    }

    .character-selection p {
      flex: 1;
    }
